.ratings{
	position: absolute;
	left: 0;
	top: 191px;
	bottom: 0;
	width: 100%;
	overflow: hidden;

}
.ratings .ratings-wrapper .overview{
	padding: 20px 0 18px 0;
	display: flex;
}
.ratings .ratings-wrapper .overview .overview-left{
	flex: 1;
	padding-left: 26px;
}
.ratings .ratings-wrapper .overview .overview-right{
	flex: 0 0 100px;
}