.foods{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 51px;
	background: #fff;
	width: 100%;
	z-index: 90;
}

.detail-enter-active, .detail-leave-active{
  transition: 1.0s;
}
.detail-enter, .detail-leave-to{
  transform: translateX(100%);

}